.container
  .row
    .col-sm-6.b
      %p test
    .col-sm-6.b
      %p test
.container-fluid
  .row
    .col-sm-6.b
      %p test
    .col-sm-6.b
      %p test

.container
  .row.b
    %p test
.container-fluid
  .row.b
    %p test


.container-fluid
  .row
    .col-sm-12.b p
  .row
    .col-sm-6.b p
    .col-sm-6.b p
  .row
    .col-sm-4.b p
    .col-sm-4.b p
    .col-sm-4.b p
  .row
    .col-sm-3.b p
    .col-sm-3.b p
    .col-sm-3.b p
    .col-sm-3.b p
  .row
    .col-sm-2.b p
    .col-sm-2.b p
    .col-sm-2.b p
    .col-sm-2.b p
    .col-sm-2.b p
    .col-sm-2.b p
  .row
    .col-sm-1.b p
    .col-sm-1.b p
    .col-sm-1.b p
    .col-sm-1.b p
    .col-sm-1.b p
    .col-sm-1.b p
    .col-sm-1.b p
    .col-sm-1.b p
    .col-sm-1.b p
    .col-sm-1.b p
    .col-sm-1.b p
    .col-sm-1.b p
