.container-fluid
  .row
    .col-sm-4
      %i.fas.fa-ambulance.fa-10x
    .col-sm-4
      %i.fas.fa-ambulance.fa-10x
    .col-sm-4
      %i.fas.fa-ambulance.fa-10x
  .row
    .col-md-2
      %i.fas.fa-anchor.fa-10x
    .col-md-2
      %i.fas.fa-anchor.fa-10x
    .col-md-2
      %i.fas.fa-anchor.fa-10x
    .col-md-2
      %i.fas.fa-anchor.fa-10x
    .col-md-2
      %i.fas.fa-anchor.fa-10x
    .col-md-2
      %i.fas.fa-anchor.fa-10x
