/ Page Content
.bg_sell
  .row
    .col-sm-6
      %h1.banner{:style => "margin-left: 37%;"} Financing
    .col-sm-3
.container2
  .row
    .three_twelve.mr-1
      = render(:partial => 'properties/left')
    .six_twelve.ml-1.mr-1.row{:style => "border-radius: 4px; border: solid 1px gray; padding: 15px; background-color: white;"}
    .three_twelve.ml-1{:style => "padding: 15px; background-color: white;"}
      = render(:partial => 'properties/right')
  %br/
/ /.container
= render(:partial => 'properties/blockies')
= render(:partial => 'properties/sign_up')
