
<!-- Page Content -->
<div class="bg_sell">
   <div class="row">
      <div class="col-sm-6">
         <h1 class="banner" style="margin-left: 37%;">About Us</h1>
      </div>
      <div class="col-sm-3"> 
      </div>
   </div>
</div>
<div class="container2">
   <div class="row">
      <div class="three_twelve mr-1">
         <%= render(:partial => 'properties/left') %>
      </div>
      <div class="six_twelve ml-1 mr-1 row" style="border-radius: 4px; border: solid 1px gray; padding: 15px; background-color: white;">
      	<h2>Land4less.us...</h2>
      	<p>
      		was started by myself Mike Bonney and my wife Misty for the sole purpose of making the experience of investing in land an easy and cost effective process.  At Land4Less.us you won’t pay the additional costs of Realtor fees and all the commissions usually associated with buying real estate.  Many people believe it is just too expensive and/or difficult to invest in land so this is why we urge you to give L4L a chance to show you just how easy and inexpensive it really is.  If you can afford $129.00 per month you too can begin investing in you and your families future.  We have been in sales for the past 18 years and have been buying and selling land for the last 9 years on the side.  We decided to begin Land4Less.us, LLC on July 7th, 2007 and share our passion of investing in land with people just like you.<br><br>

			I am a family man with a wife and two kids as well as a full time job (other than selling land) but have always enjoyed investing in land.  I found it to be a very profitable hobby and figured why not make money while doing what I love.  I am only an investor like most of you and not a real estate agent.  My wife and I personally own every piece of land on this website so you can trust that if we bought it we would keep it for our own personal investment portfolio.<br><br>

			Most of us just want to get ahead and have a little something for when we retire or maybe have something to pass onto our children.  Land investing is a great start and usually a very solid investment.  I love the saying “Land is the basis of all wealth…” because it’s so true.  I think we all have a story of a friend or family member that purchased or could have bought land 20 years ago for $1,000 an acre and now that same piece of land is worth $60,000 an acre.  Don’t be that person 20 years from now saying I WISH I would have took that chance.  Just remember the old saying…”without risk there is NO reward…”<br><br>

			We are looking to make long term relationships with repeat customers because we stand behind the land we sell 100%.  If your not happy than were not happy!  Many of our customers are repeat buyers and also refer their friends and family to us.  Would anyone come back if they didn’t have a great experience the first time around?  We are listed on the Better Business Bureau (BBB) with an A rating.<br><br>

			Give us the opportunity to earn your business and we won’t let you down.  If you have ANY questions regarding a certain piece of property, just want additional information or would like to make an offer (without any commitment) then please contact us and we will be happy to help you.   Even if your not buying land with us I can still share any knowledge that I have and would be happy to share it with you.<br><br>

			Thank you from Mike, Misty, M & C, also known as Land4Less.
      	</p>
      </div>
      <div class="three_twelve ml-1" style="padding: 15px; background-color: white;">
      	<%= render(:partial => 'properties/right') %> 
      </div>
   </div>
   <br>
</div>
<!-- /.container -->
<%= render(:partial => 'properties/blockies') %>
<%= render(:partial => 'properties/sign_up') %>