.container-fluid.top.bottom
  .row
    .col-lg-2.ml-1
    .col-lg-8.ml-5
      .card-group
        .card.blockies
          .card-body
            %i.far.fa-comment-dots.fa-4x{:style => "color: #008ABE; align-content: center;"}
            %h3.card-title Testimonials
            %p.card-text Read what our wonderful clients have to say about Land4less.us
        .card.blockies
          .card-body
            %i.far.fa-sticky-note.fa-4x{:style => "color: #008ABE; align-content: center;"}
            %h3.card-title Blog
            %p.card-text Land purchases, the market and so much more. Stay in the know by reading our blog.
        .card.blockies
          .card-body
            %i.fas.fa-phone.fa-4x{:style => "color: #008ABE; align-content: center;"}
            %h3.card-title Contact Us
            %p.card-text We’re always happy to talk to you. Contact Land4less.us, LLC to get started.
    .col-lg-2
