.container2
  .row
    .three_twelve.mr-1{:style => "border: none;"}
    .six_twelve.ml-1.mr-1.row
      .row
        .card-group{:style => "margin-left: auto; margin-right: auto;"}
          .card{:style => "padding: 15px; width: auto; margin-right: 10px; text-align: center;"}
            .card-body
              %i.far.fa-comment-dots.fa-4x{:style => "color: #008ABE; align-content: center;"}
              %br/
              %h3.card-title Testimonials
              %p.card-text Read what our wonderful clients have to say about Land4less.us
          .card{:style => "padding: 15px; width: auto; margin-right: 10px; text-align: center;"}
            .card-body
              %i.far.fa-sticky-note.fa-4x{:style => "color: #008ABE; align-content: center;"}
              %br/
              %h3.card-title Blog
              %p.card-text Land purchases, the market and so much more. Stay in the know by reading our blog.
          .card{:style => "padding: 15px; width: auto; margin-right: 10px; text-align: center;"}
            .card-body
              %i.fas.fa-phone.fa-4x{:style => "color: #008ABE; align-content: center;"}
              %br/
              %h3.card-title Contact Us
              %p.card-text We’re always happy to talk to you. Contact Land4less.us, LLC to get started.
    %br/
    %br/
