
  <footer style="border-top: 1px solid #DCDCDC; width: 100%; margin: 0; height: auto; background-color: black;" >
  	<div class="row" style="padding: 50px 0px;">
  		<div class="col-sm-3">
  		</div>
  		<div class="col-sm-2">
  			<h4 class="footerheader">Contact</h4><br>
  			<p class="footertext">(855) LAND4LESS</p><br>
			<p class="footertext">misty@land4less.us</p><br>
  			<p class="footertext">Location</p><br>
			<p class="footertext">2705 S. Alma School Rd Suite #2</p><br>
  			<p class="footertext">Chandler, AZ 85286</p><br>
  		</div>
   		<div class="col-sm-2">
  			<h4 class="footerheader">Site Map</h4><br>
			<p class="footertext">Home</p><br>
  			<p class="footertext">Land Search</p><br>
			<p class="footertext">Blog</p><br>
  			<p class="footertext">Contact Us</p><br>
  			<p class="footertext">Copyright &copy; <%= Date.today.year %>Land4Less.us</p><br>
  		</div>
   		<div class="col-sm-2">
  			<h4 class="footerheader">Social</h4><br>
  			<div class="row">
  			<span style="color: white !important; width: 30;  margin-left: auto; margin-right: auto;">
  				<i class="fab fa-facebook fa-2x"></i>
  			</span>
  			<span style="color: white !important; width: 30;  margin-left: auto; margin-right: auto;">
  				<i class="fab fa-twitter fa-2x"></i>
  			</span>
  		    </div><br>
  		    <div class="row"> 
  		    	<%= link_to image_tag('bbb.png', width: '100 ', height: '37'), root_path, :class => "center" %>
  		    </div><br>
  		    <div class="row"> 
  		    	<%= link_to image_tag('cc.png', width: '190 ', height: '30'), root_path, :class => "center" %>
  		    </div>
  		</div>
   		<div class="col-sm-3">
  		</div>
  	</div>
  </footer>