.container
  %h3 Contact Us
  %form{:action => "/action_page.php"}
    %label{:for => "fname"} First name:
    %br/
    %input#fname.form_inputs{:name => "fname", :style => "width: 120px;", :type => "text", :value => "John"}/
    %br/
    %label{:for => "lname"} Last name:
    %br/
    %input#lname.form_inputs{:name => "lname", :style => "width: 120px;", :type => "text", :value => "Doe"}/
    %br/
    %br/
    %input.wide_buttons2{:type => "submit", :value => "S U B M I T"}/
