
         <h3 style="text-align: center; font-weight: 600;">Sign Up for Our Mailing List!</h3><br>

         <form action="/action_page.php">
            <div class="row"> 
               <div class="col-sm-3"> </div>
               <div class="col-sm-3"> 
                  <input class="sign_up"type="text" id="fname" name="fname" placeholder="Name"><br>
               </div>
               <div class="col-sm-3"> 
                  <input class="sign_up"type="text" id="lname" name="lname" placeholder="Email"><br>
               </div>
               <div class="col-sm-3"> </div>
            </div>
            <div class="row"> 
               <div class="col-sm-3"> </div>
               <div class="col-sm-6"> 
                  <input class="wide_buttons3"type="submit" value="S U B M I T" style="margin-top: 28px">
               </div>
               <div class="col-sm-3"> </div>
            </div>

            
         </form>
 
      <br><br>