.container.mt-5.mb-5
  .add_edit
    %h4 Edit Property
    = form_for @property do |f|
      = render(:partial => 'form', :locals => {:f => f})
      %div
        - content_for :title do
          Edit property
      .modal-footer
        = f.submit 'UPDATE', :class => 'primary_button'
        %button.danger_button{"data-dismiss" => "modal", type: "button"} Close
