
<!-- Page Content -->
<div class="bg_sell">
   <div class="row">
      <div class="col-sm-6">
         <h1 class="banner" style="margin-left: 37%;">FAQ</h1>
      </div>
      <div class="col-sm-3"> 
      </div>
   </div>
</div>
<div class="container2">
   <div class="row">
      <div class="three_twelve mr-1">
         <%= render(:partial => 'properties/left') %>
      </div>
     <div class="six_twelve ml-1 mr-1 row" style="border-radius: 4px; border: solid 1px gray; padding: 15px; background-color: white;"></div>
      <div class="three_twelve ml-1" style="padding: 15px; background-color: white;">
      	<%= render(:partial => 'properties/right') %> 
      </div>
   </div>
   <br>
</div>
<!-- /.container -->
<%= render(:partial => 'properties/blockies') %>
<%= render(:partial => 'properties/sign_up') %>


