/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables.scss';
@import 'test.css';
@import 'font_awesome_buttons.css';
@import 'new_slider.css';

body {
  background-color: #f1f1f1 !important;
}

.card-title {
  font-weight: 600 !important;
}

h1, h2, h3, h4, h5 {
    font-family: montserrat;
    color: $primaryColor;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.b2 {
  margin-left: 37%;
}

.something {
  border-radius: 4px;
  border: none;
  padding: 15px;
}

.accordion {
  border: solid 1px $primaryColor;
  background-color: white;
}

.somethingl {
  border-radius: 4px;
  border: none;
  padding: 0 !important;
}

.somethingr {
  border-radius: 4px;
  border: none;
  background-color: white;
  padding: 17px !important;
  height: 400px;

}

.navvy {
  border-bottom: 2px solid #008ABE; background-color: white !important; width: 100%; z-index: 99; opacity: .95; color: #008ABE; margin-bottom: 20px;
}


.pstyle {
  font-family: work sans; padding-top: 8px; color: gray; font-size: 17px; font-weight: 500;color: #008ABE;
}
.something2 {
  padding: 15px;
  background-color: white;
}

h5, h6, h4 {
	font-weight: 600;
}

.sign_up {
  width: 100% !important;
  height: 50px;
  border: solid 2px $primaryColor;
  background-color: white;
  border-radius: 1px;
  color: black;
  padding: 5px;
}

.submenu1{
  width: auto; height: auto; padding: 25px; border: solid 1px gray; position: absolute; z-index: 100; background-color: white; border-radius: 4px; margin-top: 2px; margin-right: 2px;   -webkit-box-shadow: -1px 3px 17px 0px rgba(138,138,138,0.25) !important;
  -moz-box-shadow: -1px 3px 17px 0px rgba(138,138,138,0.25) !important;
  box-shadow: -1px 3px 17px 0px rgba(138,138,138,0.25) !important;
 transition: all .2s ease-in-out; padding-top: 5px;
}

.submenu2{
  width: auto; height: auto; padding: 25px; border: solid 1px gray; position: absolute; z-index: 100; background-color: white; border-radius: 4px; margin-top: 2px; margin-right: 2px;   -webkit-box-shadow: -1px 3px 17px 0px rgba(138,138,138,0.25) !important;
  -moz-box-shadow: -1px 3px 17px 0px rgba(138,138,138,0.25) !important;
  box-shadow: -1px 3px 17px 0px rgba(138,138,138,0.25) !important;
 transition: all .2s ease-in-out; padding-top: 5px;
}
.center {
    margin-left: auto; margin-right: auto;
}

.wide_buttons3 {
      width: 100% !important;
  height: 50px;
  border: solid 2px white;
  background-color: $primaryColor;
  border-radius: 3px;
color: white;
}

.wide_buttons3:hover {
  width: 100% !important;
  height: 50px;
  border: solid 2px $primaryColor;
  background-color: white;
  border-radius: 3px;
  color: $primaryColor;
  transition: all .5s ease-in-out;
}

.tab-pane {
  background-color: white !important;
}

p {
    font-family: work sans;
}

.primary_button {
	background-color: $primaryColor !important;
  border-radius: 1px !important;
  color: white !important;
  border: solid 2px white !important;
  font-family: montserrat;
  padding: 7px;
  text-decoration: none;
  height: 45px;
}

.primary_button:hover {
  background-color: white !important;
  border-radius: 1px !important;
  color:$primaryColor !important;
  border: solid 2px  $primaryColor !important;
        font-family: montserrat;
        padding: 7px;
 transition: all .5s ease-in-out;
 text-decoration: none;
 height: 45px;
}

.danger_button {
  background-color: $darkBlue !important;
  border-radius: 1px !important;
  color: white !important;
  border: solid 2px white !important;
      font-family: montserrat;
  padding: 7px;
  text-decoration: none;
  height: 45px;
}

.danger_button:hover {
    background-color: white !important;
  border-radius: 1px !important;
  color: $darkBlue !important;
  border: solid 2px  $darkBlue !important;
      font-family: montserrat;
  padding: 7px;
transition: all .5s ease-in-out;
text-decoration: none;
height: 45px;
}


.left_margin {
  margin-left: 2em;
}
.success_button {
  background-color: #005173 !important;
  border-radius: 1px !important;
  color: white !important;
  border: solid 2px white !important;
      font-family: montserrat;
  padding: 7px;
  text-decoration: none;
  height: 45px;
}

.success_button:hover {
    background-color: white !important;
  border-radius: 1px !important;
  color: #005173 !important;
  border: solid 2px  #005173 !important;
      font-family: montserrat;
  padding: 7px;
transition: all .5s ease-in-out;
text-decoration: none;
height: 45px;
}


.btn-danger {

}

.btn-success {

}

a .btn-danger {
 color: lightgray !important;
}

.long {
	width: 259px !important;
}



.boxy {
	padding-top: 10px;
	padding-bottom: 10px;

  margin-right: auto;
  margin-left: auto;
  background-color: $primaryColor;
}

.noborder {
  border: none;
}

.border_box {
border: solid .5px lightgray;
padding: 20px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.three_twelve {
  width: 17%;
  border: solid 1px gray;
  border-radius: 5px;

}

.six_twelve {
  width: 63%;
  border-radius: 5px;
  height: 500px;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.half {
  width: 32%;
  border-radius: 5px;

}

.bg {
	 background-image: url(LAND.jpg);
  height: 390px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-top: 0;
}

.bg_sell {
   background-image: url(LAND.jpg);
  height: 380px;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-top: -19px !important;
}


.container2 {
  padding: 30px;
  border: none;
}

.wide_inputs {
  width: 90% !important;
  height: 50px;
  border: solid 3px $primaryColor;
  background-color: white;
  opacity: .9;
  border-radius: 1px;
color: black;
margin-left: 30px;
margin-right: 10px;
padding: 5px;
}

.form_inputs {
  width: 90% !important;
  height: 50px;
  border: solid 3px $primaryColor;
  background-color: white;
  border-radius: 1px;
color: black;
margin-right: 10px;
padding: 5px;
}

.wide_buttons {
  width: 90% !important;
  height: 50px;
  border: solid 2px white;
  background-color: $primaryColor;
  border-radius: 3px;
color: white;
margin-left: 30px;
margin-right: 10px;

}

.wide_buttons:hover {
  width: 90% !important;
  height: 50px;
  border: solid 2px $primaryColor;
  background-color: white;
  border-radius: 3px;
color: $primaryColor;
margin-left: 30px;
margin-right: 10px;
 transition: all .5s ease-in-out;
}

.wide_buttons2 {
  width: 90% !important;
  height: 50px;
  border: solid 2px white;
  background-color: $primaryColor;
  border-radius: 3px;
color: white;

}

.wide_buttons2:hover {
  width: 90% !important;
  height: 50px;
  border: solid 2px $primaryColor;
  background-color: white;
  border-radius: 3px;
color: $primaryColor;
 transition: all .5s ease-in-out;
}

.footertext {
  color: white;
  text-align: center;
}

.footerheader {
  color: white;
  font-weight: 600;
  text-align: center;
}

.bottom_margin {
  margin-bottom: 20px;
}

.cardy {
  width: 100%;
  border-radius: 5px;
  height: 200px;
  border: solid 1px gray;
}

.b{
  border: dashed #c73b06 2px;
}

.banner {
  border-radius: 1px;
  background-color: white;
  opacity: .8;

}

.top {
  margin-top: 60px;
}

.bottom {
  margin-bottom: 60px;
}

.banner2 {
  border-radius: 1px;
  background-color: white;
  opacity: .8;
  padding: 5px 20px;
}

.boxy2 {
	padding-top: 20px;
	padding-bottom: 20px;
 border-radius: 1px;
 border: solid .75px gray;
 width: 100%;
}

.btn {
	border-radius: 5px !important;
}


.card {
border-radius: 1px !important;
  -webkit-box-shadow: -1px 3px 17px 0px rgba(138,138,138,0.25) !important;
  -moz-box-shadow: -1px 3px 17px 0px rgba(138,138,138,0.25) !important;
  box-shadow: -1px 3px 17px 0px rgba(138,138,138,0.25) !important;
 transition: all .2s ease-in-out;
 height: auto;
 width: 16.0rem;
}


.blockies {
  padding: 15px; width: 100%; margin-right: 10px; text-align: center; height: 270px;
}
.card:hover {
	-webkit-box-shadow: -1px 3px 29px 4px  rgba(138,138,138,0.35) !important;
  -moz-box-shadow: -1px 3px 29px 4px rgba(138,138,138,0.35) !important;
   box-shadow: -1px 3px 29px 4px rgba(138,138,138,0.35) !important;
   transform: scale(1.02);
   border: 1px lightgray solid !important;
}


.center {
  text-align: center;
}



.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
    border-radius: 1px }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: $primaryColor;
    border-radius: 1px;
    padding: 10px 20px 10px 20px;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    border-radius: 1px;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    padding: 10px 20px 10px 20px;}
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      background-color: lightgray;
      border-color: #000033;
      opacity: .5;
      }


.panel {
  background-color: $primaryColor;
  color: white;
}
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-radius: 3px}

    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
 }

  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }



#map {
  height: 100%;
  width: 100%;
  height: 300px;
}
